<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="165661e3-248c-420d-9e50-618806746e5f" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://gorest.co.in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="165661e3-248c-420d-9e50-618806746e5ffileName">https%3A%2F%2Fgorest.co.in2</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://gorest.co.in</con:endpoint></con:endpoints></con:interface>