<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c8bc07d9-a0c2-4f14-a6d2-6dcf27f316ec" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://gorest.co.in" type="rest" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c8bc07d9-a0c2-4f14-a6d2-6dcf27f316ecfileName">https%3A%2F%2Fgorest.co.in1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://gorest.co.in</con:endpoint></con:endpoints></con:interface>