<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a2a3c07f-be10-4069-bebd-b393e0be5737" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://realsapp.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a2a3c07f-be10-4069-bebd-b393e0be5737fileName">https%3A%2F%2Frealsapp.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://realsapp.com</con:endpoint></con:endpoints></con:interface>